<div class="row">
  <div class="form-group col-md-12">
    <label>Employee ID:</label>
    <input placeholder="Employee id" type="text" class="form-control" [(ngModel)]="employeeservice.currentEmployee.catid">
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <label>Employee Name:</label>
    <input placeholder="Employee Name" type="text" class="form-control" [(ngModel)]="employeeservice.currentEmployee.catname">
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <label>Employee Address:</label>
    <input placeholder="Employee Address" type="text" class="form-control" [(ngModel)]="employeeservice.currentEmployee.description">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <button routerLink="/employee-list"  class="btn btn-success btn-lg btn-block" (click)="createEmployee(employeeservice.currentEmployee)"> <i class="fa fa-save"></i> Save</button>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary btn-block btn-lg" (click)="clear()"> <i class="fa fa-retweet"></i> Clear</button>
  </div>
</div><p></p>

<div class="row">
  <div class="col-md-8">
    <button routerLink="/employee-list" class="btn btn-warning btn-lg btn-block"
      (click)="updateEmployee(employeeservice.currentEmployee)"> <i class="fa fa-save"></i> Update</button>
  </div>
 
</div>

<div>
  <span>Select cat</span>
  <select class="form-control" (change)="selectChange($event)">
    <option *ngFor="let item of allCatName">{{item}}</option>
  </select>
</div>
<h1>{{selectCatName}}</h1>


